$font-first: 'Montserrat', sans-serif;

$font-second: 'Crimson Text', serif;

$color-one: #343e5c;

$color-two: #b9bed1;

.indent-content {
  padding: 50px 0;
  background: #e4e5e7;
}

%text-nav {
  font-family: $font-first;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .5px;
}

%text-nav-p {
  font-family: $font-first;
  font-size: 13px;
  font-weight: 700;
  color: $color-one;
}

.indent-content {
  .filter__block-indent {
    margin-bottom: 30px;
  }
}

.filter__block {
  input[type=submit] {display: none;}
  & {
    margin: 0 auto;
    max-width: 1170px;
    background: #fff;
    padding: 12px 0;
  }
  span {
    @extend %text-nav;
    display: inline-block;
    color: $color-two;
  }
  .form__input-checkbox {
    & {
      @extend %text-nav-p;
      display: inline-block;
      padding-right: 36px;
    }
    .jq-checkbox {
      border-radius: 50%;
      width: 21px;
      height: 21px;
      margin: 0 5px 0 0;
    }
    .jq-checkbox.checked {
      .jq-checkbox__div {
        width: 9px;
        margin: 4px 0 0 4px;
      }
    }
  }
}

.form__list {
  & {
    padding-left: 45px;
  }
  label {
    & {
      display: block;
    }
    .jq-selectbox__select {
      & {
        height: 30px;
        padding: 0 25px 0 10px;
        border: 1px solid transparent;
        border-radius: 0;
        background: white;
        box-shadow: none;
        @extend %text-nav;
        color: $color-one;
        text-shadow: none;
      }
      .jq-selectbox__select-text {
        width: 85px !important;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .jq-selectbox__trigger {
        & {
          width: 25px;
          border-left: none;
        }
        .jq-selectbox__trigger-arrow {
          position: absolute;
          top: 8px;
          right: 12px;
          border-top: none;
          border-right: none;
          width: 8px;
          height: 8px;
          border-bottom: 2px solid $color-two;
          border-left: 2px solid $color-two;
          -webkit-transform: rotate(-47deg);
          transform: rotate(-47deg);
        }
      }
    }
    .jq-selectbox__dropdown {
      & {
        border: 1px solid $color-two;
        border-radius: 0;
        margin: 0;
        box-shadow: 0 26px 36px 0 #dadada;
        @extend %text-nav;
        color: $color-one;
        text-shadow: none;
      }
    }
  }
}

.form__list-two {
  & {
    padding-left: 25px;
  }
  label {
    & {
      display: block;
    }
    .jq-selectbox__select {
      & {
        height: 30px;
        padding: 0 19px 0 10px;
        border: 1px solid transparent;
        border-radius: 0;
        background: white;
        box-shadow: none;
        @extend %text-nav;
        color: $color-one;
        text-shadow: none;
      }
      .jq-selectbox__select-text {
        width: 35px !important;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .jq-selectbox__trigger {
        & {
          width: 19px;
          border-left: none;
        }
        .jq-selectbox__trigger-arrow {
          position: absolute;
          top: 8px;
          right: 12px;
          border-top: none;
          border-right: none;
          width: 8px;
          height: 8px;
          border-bottom: 2px solid $color-two;
          border-left: 2px solid $color-two;
          -webkit-transform: rotate(-47deg);
          transform: rotate(-47deg);
        }
      }
    }
    .jq-selectbox__dropdown {
      & {
        border: 1px solid $color-two;
        border-radius: 0;
        margin: 0;
        box-shadow: 0 26px 36px 0 #dadada;
        @extend %text-nav;
        color: $color-one;
        text-shadow: none;
      }
    }
  }
}

.jq-selectbox li {
  color: $color-one;
  transition: .3s;
}

.jq-selectbox li:hover {
  background: #d6dae6;
  color: $color-one;
}

.jq-selectbox li.selected {
  background: #dadada;
  color: $color-one;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid $color-two;
}


%line-after-before {
  content: '';
  position: absolute;
  height: 56px;
}

.form__list-line::after {
  @extend  %line-after-before;
  border-right: 2px solid #f2f2f2;
  top: -12px;
  right: 23px;
}

.line-before::before {
  @extend  %line-after-before;
  border-left: 2px solid #f2f2f2;
  top: -12px;
  left: -5px;
}

%input-nav {
  height: 32px;
  box-sizing: border-box;
  color: $color-one;
  font-family: $font-first;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #e3e8f0;
  border-radius: 20px;
  background: #f0f2f7;
  transition: all .3s linear;
}

%placeholder {
  color: #acb3c5;
  font-family: $font-first;
  font-weight: 700;
  font-size: 14px;
}

.form__input-product {
  & {
    display: inline-block;
    position: relative;
  }
  label {
    & {
      @extend %text-nav;
      color: $color-two;
    }
    input {
      @extend %input-nav;
      width: 164px;
      padding: 0 8px;
      margin-left: 10px;
      &::placeholder {
        @extend %placeholder;
      }
      &:focus {
        border: 1px solid $color-one;
        opacity: .8;
      }
    }
  }
}

.form__input-price {
  & {
    display: inline-block;
    position: relative;
  }
  label {
    & {
      @extend %text-nav;
      color: $color-two;
    }
    input {
      @extend %input-nav;
      width: 66px;
      padding: 0 8px;
      margin-left: 10px;
      &::placeholder {
        @extend %placeholder;
      }
      &:focus {
        border: 1px solid $color-one;
        opacity: .8;
      }
    }
  }
}

.form__input-price {
  .jq-number {
    & {
      padding: 0;
    }
    .jq-number__field {
      width: 100%;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
    .jq-number__spin.minus,
    .jq-number__spin {
      display: none;
    }
  }
}

.form__input-price {
  label:first-child {
    input {
      margin-right: 3px;
    }
  }
  label:nth-child(2) {
    input {
      margin-left: 3px;
    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%nav-filtration {
  background: white;
  width: 100%;
  margin-bottom: 30px;
}

.nav__menu {
  &{
    @extend %nav-filtration;
  }
  ul {
    .nav__menu-arrow {
      & {
        border-bottom: 1px solid #f2f2f2;
        @extend %text-nav-p;
        padding-top: 14px;
        transition: all .4s ease;
      }
      &:hover {
        background: #d6dae6;
        cursor: pointer;
      }
      &:last-child {
        border-bottom: none;
      }
      span {
        display: inline-block;
        padding: 0 0 14px 17px;
      }
      i {
        padding-right: 19px;
        float: right;
        cursor: pointer;
        font-size: 12px;
        color: $color-two;
      }
    }
    .drob-list {
      & {
        display: none;
      }
      li {
        & {
          border-bottom: 1px solid #dfe4ee;
        }
        a {
          display: inline-block;
          @extend %text-nav-p;
          padding: 14px 19px;
          background: #f0f2f7;
          width: 100%;
          font-size: 11px;
          color: $color-two;
          text-transform: uppercase;
          letter-spacing: .5px;
        }
        a:hover {
          transition: .3s linear;
          box-shadow: 271px 0 0 0 rgba(255, 255, 255, 1) inset;
          color: $color-one;
        }
        a:not(hover) {
          transition: .3s linear;
        }
      }
    }
  }
}

.active-sub-list-item {
  background: #fff;
}

%filtration-p {
  display: inline-block;
  float: right;
  font-family: $font-first;
  font-size: 11px;
  font-weight: 700;
  color: $color-two;
}

%filtration-p-text {
  display: inline-block;
  padding: 19px;
  font-family: $font-first;
  font-size: 11px;
  font-weight: 700;
  color: $color-one;
  text-transform: uppercase;
}

.form__filtration-one {
  & {
    @extend %nav-filtration;
  }
  > p {
    @extend %filtration-p-text;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
  }
  .form__filtration-radio {
    & {
      border-bottom: 1px solid #f2f2f2;
    }
    label {
      @extend %text-nav-p;
      display: inline-block;
      padding: 0 18px 18px 18px;
    }
    label:first-child {
      padding-top: 18px;
    }
    p {
      @extend %filtration-p;
      padding: 4px 20px 0 0;
    }
    label:first-child + p {
      padding-top: 24px;
    }
  }
  .block__all-one {
    & {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f2f2f2;
    }
    p {
      @extend %filtration-p-text;
    }
    a {
      display: inline-block;
      padding: 19px 20px 0 0;
      font-family: $font-first;
      font-weight: 400;
      font-size: 11px;
      color: #2754eb;
      text-transform: uppercase;
      text-decoration: underline;
    }
    a:hover {
      opacity: .6;
    }
  }
  .form__filtration-checkbox {
    label {
      @extend %text-nav-p;
      display: inline-block;
      padding: 0 18px 18px 18px;
    }
    label:first-child {
      padding-top: 18px;
    }
    p {
      @extend %filtration-p;
      padding: 4px 20px 0 0;
    }
    label:first-child + p {
      padding-top: 24px;
    }
  }
}

.form__filtration-two {
  & {
    @extend %nav-filtration;
  }
  .block__all-two {
    & {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f2f2f2;
    }
    p {
      @extend %filtration-p-text;
    }
    a {
      display: inline-block;
      padding: 19px 20px 0 0;
      font-family: $font-first;
      font-weight: 400;
      font-size: 11px;
      color: #2754eb;
      text-transform: uppercase;
      text-decoration: underline;
    }
    a:hover {
      opacity: .6;
    }
  }
  .form__filtration-checkbox {
    label {
      @extend %text-nav-p;
      display: inline-block;
      padding: 0 18px 18px 18px;
    }
    label:first-child {
      padding-top: 18px;
    }
  }
}

.form__filtration-three {
  & {
    @extend %nav-filtration;
  }
  > p {
    @extend %filtration-p-text;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
  }
  .form__filtration-radio {
    & {
      display: flex;
      justify-content: space-around;
      position: relative;
      padding: 14px 18px;
    }
    label {
      @extend %text-nav-p;
      font-size: 12px;
      letter-spacing: .5px;
      text-transform: uppercase;
      display: inline-block;
    }
    label:last-child::before {
      content: '';
      position: absolute;
      height: 48px;
      border-left: 1px solid #f2f2f2;
      bottom: 0;
      right: 50%;
    }
  }
}

.jq-checkbox, .jq-radio {
  vertical-align: -5px;
  width: 19px;
  height: 19px;
  margin: 0 14px 0 0;
  border: 2px solid #e5e9f1;
  background: #fff;
  box-shadow: none;
}

.jq-checkbox.focused, .jq-radio.focused {
  border: 2px solid #e5e9f1;
}

.jq-radio.checked .jq-radio__div {
  width: 7px;
  height: 7px;
  margin: 4px 0 0 4px;
  background: #00deea;
  box-shadow: none;
}

.jq-checkbox {
  border-radius: 4px;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 3px 0 0 4px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.jq-checkbox.styler.checked {
  background: #00e2aa;
  border: 2px solid #00e2aa;
}

%flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  @extend %flex-wrap;
}

.product {
  & {
    position: relative;
    width: 270px;
    height: 380px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
    transition: .3s;
    border-bottom: 1px solid transparent;
  }
  &:hover {
    border-bottom: 1px solid #2754eb;
  }
  a {
    display: block;
    overflow: hidden;
  }
}

.product {
  .product__img {
    img {
      transition: all .3s linear;
    }
    img:hover {
       -webkit-filter: grayscale(100%);
       filter: grayscale(100%);
    }
  }
  .product__name {
    font-family: $font-first;
    text-align: center;
    line-height: 20px;
    color: #1c1e23;
    font-size: 16px;
    font-weight: 700;
    padding: 26px 0 16px 0;
    transition: all .3s linear;
  }
  .product__name:hover {
    color: #2754eb;
  }
  .product__color {
    font-family: $font-first;
    color: $color-two;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    padding-bottom: 9px;
    transition: all .3s linear;
  }
  .product__color:hover {
    + .product__block-colors {
      display: block;
    }
  }
  .product__price {
    font-family: $font-first;
    color: $color-one;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 38px;
    transition: all .3s linear;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .product__price:hover {
    background: #1c1e23;
    color: white;
  }
  .product__block-colors {
    & {
      display: none;
      background: white;
      padding: 5px 10px;
      font-size: 0;
      position: absolute;
      bottom: 17%;
      transition: all .3s linear;
      z-index: 1;
    }
    &:hover {
      display: block;
    }
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $color-two;
      margin-left: 10px;
      transition: .3s;
    }
    a:first-child {
      margin-left: 0;
    }
    .red {
      background: red;
    }
    .blue {
      background: blue;
    }
    .green {
      background: green;
    }
    a:hover {
      transform: rotate(45deg);
      border-radius: 4px;
      opacity: .7;
    }
  }
}

.product-wide {
  & {
    position: relative;
    background: white;
    max-width: 570px;
    max-height: 380px;
    margin-bottom: 30px;
    transition: all .4s linear;
    border-bottom: 1px solid transparent;
  }
  &:hover {
    border-bottom: 1px solid #2754eb;
  }
  a {
    display: block;
    overflow: hidden;
  }
  .product__img {
    img {
      width: 100%;
      transition: all .3s linear;
    }
    img:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
  .product__price {
    position: absolute;
    top: 3.1%;
    left: 2%;
    font-family: $font-first;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    background: #1c1e23;
    transition: all .3s linear;
  }
  .product__price:hover {
    background: #fff;
    color: #1c1e23;
  }
  .product__description {
    & {
      display: flex;
      justify-content: space-between;
      padding: 13px 22px 17px 25px;
    }
    .product__description-name {
      .product__name {
        font-family: $font-first;
        text-align: center;
        line-height: 20px;
        color: #1c1e23;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 7px;
        transition: all .3s linear;
      }
      .product__name:hover {
        color: #2754eb;
      }
      .product__color {
        font-family: $font-first;
        color: $color-two;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .5px;
        transition: all .3s linear;
      }
      .product__color:hover {
        + .product__block-colors {
          display: block;
        }
      }
      .product__block-colors {
        & {
          display: none;
          background: white;
          padding: 5px 10px;
          font-size: 0;
          position: absolute;
          bottom: 1.5%;
          left: 2.7%;
          transition: all .3s linear;
          z-index: 1;
        }
        &:hover {
          display: block;
        }
        a {
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 1px solid $color-two;
          margin-left: 10px;
          transition: .3s;
        }
        a:first-child {
          margin-left: 0;
        }
        .red {
          background: red;
        }
        .blue {
          background: blue;
        }
        .green {
          background: green;
        }
        a:hover {
          transform: rotate(45deg);
          border-radius: 4px;
          opacity: .7;
        }
      }
    }
    .product__button {
      & {
        padding-top: 3px;
        font-size: 0;
      }
      a {
        display: inline-block;
        font-family: $font-first;
        color: #3a405b;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: .5px;
        transition: all .3s linear;
      }
      a:first-child {
        padding: 9px 40px 9px 34px;
        border-top: 2px solid #f0f2f7;
        border-bottom: 2px solid #f0f2f7;
        border-left: 2px solid #f0f2f7;
        border-radius: 20px 0 0 20px;
      }
      a:first-child:hover {
        background: #f0f2f7;
      }
      a:last-child {
        padding: 9px 28px 9px 26px;
        border: 2px solid #f0f2f7;
        border-radius: 0 20px 20px 0;
      }
      a:last-child:hover {
        background: #f0f2f7;
      }
    }
  }
}

.product-sale {
  & {
    display: flex;
    position: relative;
    width: 270px;
    height: 380px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    transition: .3s;
  }
  a {
    display: block;
    overflow: hidden;
    position: absolute;
  }
  .product__img {
    img {
      transition: all .3s linear;
    }
    img:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
  .product__name {
    top: 9%;
    font-family: $font-first;
    text-align: center;
    line-height: 20px;
    color: #1c1e23;
    font-size: 16px;
    font-weight: 700;
    transition: all .3s linear;
  }
  .product__name:hover {
    color: #2754eb;
  }
  .product__price {
    top: 22%;
    font-family: $font-first;
    color: $color-one;
    font-size: 14px;
    font-weight: 700;
    transition: all .3s linear;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .product__price:hover {
    background: #1c1e23;
    color: white;
  }
}

.pagination-list {
  & {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    background: white;
    margin-bottom: 50px;
  }
  li {
    a {
      display: inline-block;
      font-family: $font-first;
      font-size: 14px;
      font-weight: 700;
      color: $color-one;
      padding: 16px 5px;
      border-radius: 50%;
      transition: all .3s linear;
    }
    a:hover {
      padding: 16px 20px;
      box-shadow: 0 16px 35px 0 #c5c5c5;
      color: $color-two;
    }
    .active {
      padding: 16px 20px;
      box-shadow: 0 16px 35px 0 #c5c5c5;
      color: $color-two;
    }
  }
}

.pagination-list {
  .pagination-list__back {
    margin-right: auto;
  }
  .pagination-list__forward {
    margin-left: auto;
  }
  .pagination-list__item {
    padding: 22px 15px;
  }
}

.block-top {
  & {
    background: white;
  }
  p {
    width: 100%;
    font-family: $font-first;
    font-size: 11px;
    font-weight: 700;
    color: $color-one;
    text-align: center;
    text-transform: uppercase;
    padding: 22px 0;
    letter-spacing: .5px;
    border-bottom: 1px solid #f2f2f2;
  }
}

.block-top__products {
  @extend %flex-wrap;
}

.block-top__product {
  & {
    position: relative;
    height: 340px;
    width: 285px;
    border-right: 1px solid #f2f2f2;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: .3s;
    margin: 0 auto;
  }
  a {
    display: block;
    overflow: hidden;
  }
  &:last-child {
    border-right: none;
  }
  .block-top__product-img {
    img {
      transition: all .3s linear;
    }
    img:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
  .block-top__product-name {
    font-family: $font-first;
    text-align: center;
    line-height: 20px;
    color: #1c1e23;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 0 7px 0;
    transition: all .3s linear;
  }
  .block-top__product-name:hover {
    color: #2754eb;
  }
  .block-top__product-color {
    font-family: $font-first;
    color: $color-two;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .5px;
    padding-bottom: 15px;
    transition: all .3s linear;
  }
  .block-top__product-color:hover {
    + .block-top__product-colors {
      display: block;
    }
  }
  .block-top__product-colors {
    & {
      display: none;
      background: white;
      padding: 5px 10px;
      font-size: 0;
      position: absolute;
      bottom: 16.5%;
      transition: all .3s linear;
      z-index: 1;
    }
    &:hover {
      display: block;
    }
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $color-two;
      margin-left: 10px;
      transition: .3s;
    }
    a:first-child {
      margin-left: 0;
    }
    .red {
      background: red;
    }
    .blue {
      background: blue;
    }
    .green {
      background: green;
    }
    a:hover {
      transform: rotate(45deg);
      border-radius: 4px;
      opacity: .7;
    }
  }
  .block-top__product-prices {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
    }
    .block-top__product-old_price {
      font-family: $font-first;
      color: $color-two;
      font-size: 14px;
      font-weight: 700;
      padding-right: 10px;
      text-decoration: line-through;
    }
    .block-top__product-price {
      font-family: $font-first;
      color: $color-one;
      font-size: 14px;
      font-weight: 700;
      transition: all .3s linear;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .block-top__product-price:hover {
      background: #1c1e23;
      color: white;
    }
  }
}

%section-text {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  letter-spacing: .5px;
  color: $color-two;
}

.section__reviews {
  &{
    padding: 67px 0 56px 0;
  }
  h2 {
    text-align: center;
    font-family: $font-first;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #222328;
    padding-bottom: 12px;
  }
  > p {
    text-align: center;
    @extend %section-text;
    line-height: 20px;
    padding-bottom: 50px;
  }
}

.section__reviews-persons {
  & {
    @extend %flex-wrap;
    padding: 0 55px;
  }
  .section__reviews-person {
    & {
      margin: 0 auto;
      width: 270px;
      padding-bottom: 30px;
    }
    .section__reviews-name {
      & {
        display: flex;
        padding-bottom: 13px;
      }
      a {
        & {
          display: block;
        }
        img {
          border-radius: 50%;
          transition: all .3s linear;
        }
        img:hover {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
      }
      .section__reviews_mame-text {
        & {
          padding-left: 13px;
        }
        a {
          display: block;
          font-family: $font-first;
          font-size: 14px;
          font-weight: 700;
          color: $color-one;
          padding: 3px 0 8px 0;
          transition: .3s;
        }
        a:hover {
          color: $color-two;
        }
        span {
          @extend %section-text;
        }
      }
    }
    p {
      font-family: $font-second;
      font-size: 18px;
      font-weight: 400;
      color: $color-one;
      line-height: 24px;
    }
  }
}