$font-first: 'Montserrat', sans-serif;

$font-second: 'Crimson Text', serif;

$color-one: #343e5c;

$color-two: #b9bed1;

footer {
  & {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 100%;
  }
  .block__footer {
    & {
      background: #222328;
      padding: 62px 0;
    }
    .indent-line {
      padding-bottom: 60px;
      border-bottom: 1px solid #2d2e33;
    }
    p {
      padding-top: 53px;
      font-family: $font-second;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      color: #58585c;
      line-height: 22px;
    }
    .footer__block-privacy {
      & {
        padding-top: 66px;
      }
      a {
        display: inline-block;
        font-family: $font-first;
        font-weight: 700;
        font-size: 12px;
        color: #58585c;
        text-transform: uppercase;
        transition: .3s;
      }
      a:last-child {
        padding-left: 27px;
      }
      a:hover{
        color: $color-two;
      }
    }
  }
}

.footer__logo {
  display: inline-block;
}

.footer__menu {
  ul {
    li {
      & {
        display: inline-block;
        padding-left: 27px;
      }
      a {
        display: inline-block;
        font-family: $font-first;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .5px;
        transition: .3s;
      }
      a:hover {
        color: $color-two;
      }
    }
  }
}

.footer__social {
  a {
    & {
      display: inline-block;
      padding-left: 22px;
      transition: .3s;
      color: #fff;
    }
    &:first-child {
      padding-left: 0;
    }
    i {
      font-size: 20px;
    }
  }
  a:hover {
    color: $color-two;
  }
}
