@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Montserrat:400,700,900&display=swap');

$font-first: 'Montserrat', sans-serif;

$font-second: 'Crimson Text', serif;

$color-one: #343e5c;

$color-two: #b9bed1;

@media (min-width: 1200px) {
  .container {
    max-width: 1199px;
  }
}

html {
  height: 100%;
}

body {
  min-width: 360px;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input, button {
  border: none;
  outline: none;
}

.header__logo {
  display: inline-block;
}

.header__top {
  & {
    padding: 28px 0;
    border-bottom: 1px solid #f0f2f7;
  }
  .header__menu {
    ul {
      li {
        & {
          display: inline-block;
          padding-left: 20px;
        }
        a {
          display: inline-block;
          font-family: $font-first;
          font-size: 14px;
          font-weight: 700;
          color: $color-one;
          padding: 5px 8px;
          border-radius: 20px;
          transition: all .3s linear;
        }
        a:hover {
          box-shadow: 0 9px 30px 0 #c5c5c5;
        }
      }
    }
  }
}

.header__top {
  .header__menu {
    ul > li:first-child {
      padding-left: 0;
    }
  }
}

%cart-text {
  font-family: $font-first;
  font-size: 11px;
  font-weight: 700;
  color: $color-one;
  text-transform: uppercase;
}

%hover-transition {
  transition: .3s linear;
  box-shadow: 104px 0 0 0 rgba(227, 232, 240, 1) inset;
}

.header__cart {
  & {
    display: flex;
    align-items: center;
    padding: 3px 6px 2px 6px;
    border-radius: 20px;
  }
  &:hover {
    @extend %hover-transition;
    span {
      transition: .3s;
      background: white;
    }
  }
  i {
    font-size: 16px;
    color: $color-one;
    padding-right: 8px;
  }
  p {
    @extend %cart-text;
    padding-right: 7px;
  }
  span {
    font-family: $font-first;
    font-size: 12px;
    font-weight: 700;
    color: $color-one;
    padding: 7px 9px;
    border-radius: 20px;
    background: #e3e8f0;
  }
}

.header__button {
  display: inline-block;
  @extend %cart-text;
  padding: 9px 19px;
  border: 2px solid #e3e8f0;
  border-radius: 20px;
  margin-left: 21px;
  &:hover {
    @extend %hover-transition;
  }
}

.header__cart:not(hover),
.header__button:not(hover),
.header__cart:not(hover) span {
  transition: .3s linear;
}

%header-menu-two {
  display: inline-block;
  font-family: $font-first;
  font-size: 11px;
  font-weight: 700;
  color: $color-two;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.header__top-two {
  & {
    padding: 13px 0;
  }
  .header__menu-two {
    ul {
      li {
        & {
          display: inline-block;
          padding-left: 27px;
        }
        a {
          @extend %header-menu-two;
        }
        a:hover {
          transition: .3s;
          color: $color-one;
        }
        a:not(hover) {
          transition: .3s;
        }
        .active {
          color: $color-one;
        }
      }
    }
  }
}

.header__top-two {
  .header__menu-two {
    ul > li:first-child {
      padding-left: 0;
    }
  }
}

.header__support {
  @extend %header-menu-two;
  padding-right: 46px;
  &:hover {
    transition: .3s;
    color: $color-one;
  }
  &:not(hover) {
    transition: .3s;
  }
}

.header__search {
  & {
    display: inline-block;
    position: relative;
  }
  label {
    input {
      width: 188px;
      height: 30px;
      box-sizing: border-box;
      color: $color-one;
      font-family: $font-first;
      font-weight: 700;
      font-size: 14px;
      background: inherit;
      padding: 0 8px 0 30px;
      border: 1px solid transparent;
      border-radius: 20px;
      transition: all .3s linear;
      &::placeholder {
        color: #acb3c5;
        font-family: $font-first;
        font-weight: 700;
        font-size: 14px;
      }
      &:focus {
        border: 1px solid $color-one;
        opacity: .8;
      }
    }
  }
  button {
    & {
      cursor: pointer;
      position: absolute;
      top: 7px;
      left: 3px;
      background: inherit;
    }
    i {
      font-size: 12px;
      color: $color-one;
    }
  }
}

@import "slider";