@media screen and (max-width: 1199px) {
  .header__top {
    .header__menu {
      ul {
        li {
          padding-left: 11px;
        }
      }
    }
  }
  .filter__block {
    span, .form__list, .form__list-two {
      padding-bottom: 10px;
    }
  }
  .form__list-line::after {
    border-right: none;
  }
  .line-before::before {
    border-left: none;
  }
  .filter__block {
    p {
      padding-right: 0;
    }
  }
  .form__filtration-two {
    .form__filtration-checkbox {
      label {
        line-height: 20px;
      }
    }
  }
  .product,
  .product-wide,
  .product-sale {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .block-top__product {
    border-right: none;
  }
  .section__reviews-persons {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .header__button {
    margin-left: 14px;
  }
  .header__top-two {
    .header__menu-two {
      ul {
        li {
          padding-bottom: 7px;
        }
      }
    }
  }
  .header__support {
    padding-right: 0;
  }
  .nav__menu {
    ul {
      .drob-list {
        li {
          a:hover {transition: .3s linear;
            box-shadow: none;
            background: white;
            color: #343e5c;
          }
        }
      }
    }
  }
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        height: 430px;
      }
    }
  }
  .form__filtration-two {
    .form__filtration-checkbox {
      label {
        line-height: normal;
      }
    }
  }
  main {
    & {
      margin-bottom: 30px;
      background: white;
    }
    .product,
    .product-wide {
      border-bottom: 1px solid #f2f2f2;
    }
  }
  .pagination-list {
    padding: 0 4%;
  }
  .pagination-list {
    .pagination-list__item {
      padding: 22px 10px;
    }
  }
  .block-top__product:first-child {
    border-bottom: 1px solid #f2f2f2;
  }
  .block-top__product:nth-child(2) {
    border-bottom: 1px solid #f2f2f2;
  }
  .footer__menu {
    padding-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        & {
          height: 350px;
        }
        h1 {
          top: 7%;
          font-size: 32px;
          line-height: 38px;
        }
        p {
          top: 31%;
          width: 42%;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .form__input-product,
  .form__input-price {
    padding-bottom: 15px;
  }
  .pagination-list {
    .pagination-list__item {
      padding: 22px 7px;
    }
  }
  .block-top__product {
    border-bottom: 1px solid #f2f2f2;
  }
  .block-top__product:last-child {
    border-bottom: none;
  }
  .section__reviews-persons {
    & {
      padding: 0 20px;
    }
    .section__reviews-person {
      width: 100%;
    }
  }
  footer {
    .block__footer {
      p {
        padding: 53px 20px 0 20px;
      }
      .footer__block-privacy {
        padding-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .header__logo {
    padding-bottom: 15px;
  }
  .header__top-two {
    .header__menu-two {
      ul {
        li {
          padding-left: 5px;
        }
      }
    }
  }
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        h1 {
          top: 5%;
          font-size: 26px;
          line-height: 30px;
        }
        p {
          top: 25%;
          width: 42%;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  .filter__block {
    .form__list, .form__list-two {
      padding-left: 0;
    }
  }
  .product-wide {
    .product__description {
      .product__button {
        a:first-child {
          padding: 9px 20px 9px 14px;
        }

        a:last-child {
          padding: 9px 8px 9px 6px;
        }
      }
    }
  }
  .pagination-list {
    .pagination-list__item {
      padding: 22px 3px;
    }
  }
  .footer__menu {
    li {
      padding-bottom: 10px;
    }
  }
}