$font-first: 'Montserrat', sans-serif;

$font-second: 'Crimson Text', serif;

.swiper-container {
  & {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    .swiper-slide {
      & {
        height: 500px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
      }
      &:before {
        content: "";
        background-color: #000;
        opacity: .2;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
      }
      h1 {
        position: absolute;
        top: 19.5%;
        left: 23.5%;
        color: white;
        font-family: $font-first;
        font-weight: 900;
        font-size: 42px;
        line-height: 50px;
      }
      p {
        position: absolute;
        top: 43.5%;
        left: 23.5%;
        color: white;
        font-family: $font-second;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .9px;
      }
      a {
        position: absolute;
        top: 70.3%;
        left: 23.5%;
        color: white;
        background: #2754eb;
        font-family: $font-first;
        font-weight: 700;
        font-size: 11px;
        border-radius: 20px;
        padding: 16px 50px;
        letter-spacing: .9px;
        text-transform: uppercase;
        &:hover {
          transition: .3s linear;
          box-shadow: 165px 0 0 0 rgba(18, 61, 205, 1) inset;
        }
        &:not(hover) {
          transition: .3s linear;
        }
      }
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  width: 44px;
  background-size: auto;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 12%;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 12%;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 27px;
}

.swiper-pagination-bullet {
  border: 2px solid #8e8f91;
  background: #000;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  border: none;
  background: white;
}