$font-first: 'Montserrat', sans-serif;

$color-one: #343e5c;

.hamburger-menu {
  display: none;
}

#nav-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0);

  &:checked + .menu {
    background: white;
    visibility: visible;
    opacity: .9;
    z-index: 999;
  }
}

#nav-toggle-label {
  position:absolute;
  left: 16px;
  top: 4px;
  z-index: 9999;
  cursor: pointer;

  span, &:before, &:after{
    display: block;
    height: 3px;
    background: black;
    width: 2em;
    margin-bottom: .4em;
    transition: .2s all linear;
  }

  &:before, &:after {
    content: "";
  }

}

.menu {
  font-size: 24px;
  visibility: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  list-style: none;
  text-align: center;
  background: rgba(white, .5);
  opacity: 0;
  transition: .2s all linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  li{
    margin-bottom: 38px;

    a{
      text-decoration: none;
      font-family: $font-first;
      font-size: 26px;
      font-weight: 700;
      color: $color-one;
      padding: 2px 10px;
      border-radius: 20px;
      &:hover {
        transition: .3s;
        box-shadow: 0 13px 28px 0 #b4b4b4;
      }
      &:not(hover) {
        transition: .3s;
      }
    }
  }
}

.nav-toggle-label--active{
  span{
    opacity: 0;
  }
  &:before{
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
  }
  &:after{
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
  }
}