.hamburger-menu {
  display: none; }

#nav-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0); }
  #nav-toggle:checked + .menu {
    background: white;
    visibility: visible;
    opacity: .9;
    z-index: 999; }

#nav-toggle-label {
  position: absolute;
  left: 16px;
  top: 4px;
  z-index: 9999;
  cursor: pointer; }
  #nav-toggle-label span, #nav-toggle-label:before, #nav-toggle-label:after {
    display: block;
    height: 3px;
    background: black;
    width: 2em;
    margin-bottom: .4em;
    transition: .2s all linear; }
  #nav-toggle-label:before, #nav-toggle-label:after {
    content: ""; }

.menu {
  font-size: 24px;
  visibility: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  list-style: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: .2s all linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; }
  .menu li {
    margin-bottom: 38px; }
    .menu li a {
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-size: 26px;
      font-weight: 700;
      color: #343e5c;
      padding: 2px 10px;
      border-radius: 20px; }
      .menu li a:hover {
        transition: .3s;
        box-shadow: 0 13px 28px 0 #b4b4b4; }
      .menu li a:not(hover) {
        transition: .3s; }

.nav-toggle-label--active span {
  opacity: 0; }

.nav-toggle-label--active:before {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%; }

.nav-toggle-label--active:after {
  transform: rotate(45deg);
  position: absolute;
  top: 50%; }
