@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Montserrat:400,700,900&display=swap");
@media (min-width: 1200px) {
  .container {
    max-width: 1199px; } }

html {
  height: 100%; }

body {
  min-width: 360px;
  position: relative;
  min-height: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

input, button {
  border: none;
  outline: none; }

.header__logo {
  display: inline-block; }

.header__top {
  padding: 28px 0;
  border-bottom: 1px solid #f0f2f7; }

.header__top .header__menu ul li {
  display: inline-block;
  padding-left: 20px; }

.header__top .header__menu ul li a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #343e5c;
  padding: 5px 8px;
  border-radius: 20px;
  transition: all .3s linear; }

.header__top .header__menu ul li a:hover {
  box-shadow: 0 9px 30px 0 #c5c5c5; }

.header__top .header__menu ul > li:first-child {
  padding-left: 0; }

.header__cart p, .header__button {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #343e5c;
  text-transform: uppercase; }

.header__cart:hover, .header__button:hover {
  transition: .3s linear;
  box-shadow: 104px 0 0 0 #e3e8f0 inset; }

.header__cart {
  display: flex;
  align-items: center;
  padding: 3px 6px 2px 6px;
  border-radius: 20px; }

.header__cart:hover span {
  transition: .3s;
  background: white; }

.header__cart i {
  font-size: 16px;
  color: #343e5c;
  padding-right: 8px; }

.header__cart p {
  padding-right: 7px; }

.header__cart span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #343e5c;
  padding: 7px 9px;
  border-radius: 20px;
  background: #e3e8f0; }

.header__button {
  display: inline-block;
  padding: 9px 19px;
  border: 2px solid #e3e8f0;
  border-radius: 20px;
  margin-left: 21px; }

.header__cart:not(hover),
.header__button:not(hover),
.header__cart:not(hover) span {
  transition: .3s linear; }

.header__top-two .header__menu-two ul li a, .header__support {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #b9bed1;
  text-transform: uppercase;
  letter-spacing: .5px; }

.header__top-two {
  padding: 13px 0; }

.header__top-two .header__menu-two ul li {
  display: inline-block;
  padding-left: 27px; }

.header__top-two .header__menu-two ul li a:hover {
  transition: .3s;
  color: #343e5c; }

.header__top-two .header__menu-two ul li a:not(hover) {
  transition: .3s; }

.header__top-two .header__menu-two ul li .active {
  color: #343e5c; }

.header__top-two .header__menu-two ul > li:first-child {
  padding-left: 0; }

.header__support {
  padding-right: 46px; }
  .header__support:hover {
    transition: .3s;
    color: #343e5c; }
  .header__support:not(hover) {
    transition: .3s; }

.header__search {
  display: inline-block;
  position: relative; }

.header__search label input {
  width: 188px;
  height: 30px;
  box-sizing: border-box;
  color: #343e5c;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  background: inherit;
  padding: 0 8px 0 30px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all .3s linear; }
  .header__search label input::placeholder {
    color: #acb3c5;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px; }
  .header__search label input:focus {
    border: 1px solid #343e5c;
    opacity: .8; }

.header__search button {
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 3px;
  background: inherit; }

.header__search button i {
  font-size: 12px;
  color: #343e5c; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-container .swiper-wrapper .swiper-slide {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }

.swiper-container .swiper-wrapper .swiper-slide:before {
  content: "";
  background-color: #000;
  opacity: .2;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0; }

.swiper-container .swiper-wrapper .swiper-slide h1 {
  position: absolute;
  top: 19.5%;
  left: 23.5%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 42px;
  line-height: 50px; }

.swiper-container .swiper-wrapper .swiper-slide p {
  position: absolute;
  top: 43.5%;
  left: 23.5%;
  color: white;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .9px; }

.swiper-container .swiper-wrapper .swiper-slide a {
  position: absolute;
  top: 70.3%;
  left: 23.5%;
  color: white;
  background: #2754eb;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  border-radius: 20px;
  padding: 16px 50px;
  letter-spacing: .9px;
  text-transform: uppercase; }
  .swiper-container .swiper-wrapper .swiper-slide a:hover {
    transition: .3s linear;
    box-shadow: 165px 0 0 0 #123dcd inset; }
  .swiper-container .swiper-wrapper .swiper-slide a:not(hover) {
    transition: .3s linear; }

.swiper-button-next, .swiper-button-prev {
  width: 44px;
  background-size: auto; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 12%; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 12%; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 27px; }

.swiper-pagination-bullet {
  border: 2px solid #8e8f91;
  background: #000;
  opacity: 1; }

.swiper-pagination-bullet-active {
  border: none;
  background: white; }

.indent-content {
  padding: 50px 0;
  background: #e4e5e7; }

.filter__block span, .form__list label .jq-selectbox__select, .form__list label .jq-selectbox__dropdown, .form__list-two label .jq-selectbox__select, .form__list-two label .jq-selectbox__dropdown, .form__input-product label, .form__input-price label {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .5px; }

.filter__block .form__input-checkbox, .nav__menu ul .nav__menu-arrow, .nav__menu ul .drob-list li a, .form__filtration-one .form__filtration-radio label, .form__filtration-one .form__filtration-checkbox label, .form__filtration-two .form__filtration-checkbox label, .form__filtration-three .form__filtration-radio label {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #343e5c; }

.indent-content .filter__block-indent {
  margin-bottom: 30px; }

.filter__block input[type=submit] {
  display: none; }

.filter__block {
  margin: 0 auto;
  max-width: 1170px;
  background: #fff;
  padding: 12px 0; }

.filter__block span {
  display: inline-block;
  color: #b9bed1; }

.filter__block .form__input-checkbox {
  display: inline-block;
  padding-right: 36px; }

.filter__block .form__input-checkbox .jq-checkbox {
  border-radius: 50%;
  width: 21px;
  height: 21px;
  margin: 0 5px 0 0; }

.filter__block .form__input-checkbox .jq-checkbox.checked .jq-checkbox__div {
  width: 9px;
  margin: 4px 0 0 4px; }

.form__list {
  padding-left: 45px; }

.form__list label {
  display: block; }

.form__list label .jq-selectbox__select {
  height: 30px;
  padding: 0 25px 0 10px;
  border: 1px solid transparent;
  border-radius: 0;
  background: white;
  box-shadow: none;
  color: #343e5c;
  text-shadow: none; }

.form__list label .jq-selectbox__select .jq-selectbox__select-text {
  width: 85px !important;
  height: 100%;
  display: flex;
  align-items: center; }

.form__list label .jq-selectbox__select .jq-selectbox__trigger {
  width: 25px;
  border-left: none; }

.form__list label .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  position: absolute;
  top: 8px;
  right: 12px;
  border-top: none;
  border-right: none;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #b9bed1;
  border-left: 2px solid #b9bed1;
  -webkit-transform: rotate(-47deg);
  transform: rotate(-47deg); }

.form__list label .jq-selectbox__dropdown {
  border: 1px solid #b9bed1;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 26px 36px 0 #dadada;
  color: #343e5c;
  text-shadow: none; }

.form__list-two {
  padding-left: 25px; }

.form__list-two label {
  display: block; }

.form__list-two label .jq-selectbox__select {
  height: 30px;
  padding: 0 19px 0 10px;
  border: 1px solid transparent;
  border-radius: 0;
  background: white;
  box-shadow: none;
  color: #343e5c;
  text-shadow: none; }

.form__list-two label .jq-selectbox__select .jq-selectbox__select-text {
  width: 35px !important;
  height: 100%;
  display: flex;
  align-items: center; }

.form__list-two label .jq-selectbox__select .jq-selectbox__trigger {
  width: 19px;
  border-left: none; }

.form__list-two label .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  position: absolute;
  top: 8px;
  right: 12px;
  border-top: none;
  border-right: none;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #b9bed1;
  border-left: 2px solid #b9bed1;
  -webkit-transform: rotate(-47deg);
  transform: rotate(-47deg); }

.form__list-two label .jq-selectbox__dropdown {
  border: 1px solid #b9bed1;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 26px 36px 0 #dadada;
  color: #343e5c;
  text-shadow: none; }

.jq-selectbox li {
  color: #343e5c;
  transition: .3s; }

.jq-selectbox li:hover {
  background: #d6dae6;
  color: #343e5c; }

.jq-selectbox li.selected {
  background: #dadada;
  color: #343e5c; }

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #b9bed1; }

.form__list-line::after, .line-before::before {
  content: '';
  position: absolute;
  height: 56px; }

.form__list-line::after {
  border-right: 2px solid #f2f2f2;
  top: -12px;
  right: 23px; }

.line-before::before {
  border-left: 2px solid #f2f2f2;
  top: -12px;
  left: -5px; }

.form__input-product label input, .form__input-price label input {
  height: 32px;
  box-sizing: border-box;
  color: #343e5c;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #e3e8f0;
  border-radius: 20px;
  background: #f0f2f7;
  transition: all .3s linear; }

.form__input-product label input::placeholder, .form__input-price label input::placeholder {
  color: #acb3c5;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px; }

.form__input-product {
  display: inline-block;
  position: relative; }

.form__input-product label {
  color: #b9bed1; }

.form__input-product label input {
  width: 164px;
  padding: 0 8px;
  margin-left: 10px; }
  .form__input-product label input:focus {
    border: 1px solid #343e5c;
    opacity: .8; }

.form__input-price {
  display: inline-block;
  position: relative; }

.form__input-price label {
  color: #b9bed1; }

.form__input-price label input {
  width: 66px;
  padding: 0 8px;
  margin-left: 10px; }
  .form__input-price label input:focus {
    border: 1px solid #343e5c;
    opacity: .8; }

.form__input-price .jq-number {
  padding: 0; }

.form__input-price .jq-number .jq-number__field {
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none; }

.form__input-price .jq-number .jq-number__spin.minus,
.form__input-price .jq-number .jq-number__spin {
  display: none; }

.form__input-price label:first-child input {
  margin-right: 3px; }

.form__input-price label:nth-child(2) input {
  margin-left: 3px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.nav__menu, .form__filtration-one, .form__filtration-two, .form__filtration-three {
  background: white;
  width: 100%;
  margin-bottom: 30px; }

.nav__menu ul .nav__menu-arrow {
  border-bottom: 1px solid #f2f2f2;
  padding-top: 14px;
  transition: all .4s ease; }

.nav__menu ul .nav__menu-arrow:hover {
  background: #d6dae6;
  cursor: pointer; }

.nav__menu ul .nav__menu-arrow:last-child {
  border-bottom: none; }

.nav__menu ul .nav__menu-arrow span {
  display: inline-block;
  padding: 0 0 14px 17px; }

.nav__menu ul .nav__menu-arrow i {
  padding-right: 19px;
  float: right;
  cursor: pointer;
  font-size: 12px;
  color: #b9bed1; }

.nav__menu ul .drob-list {
  display: none; }

.nav__menu ul .drob-list li {
  border-bottom: 1px solid #dfe4ee; }

.nav__menu ul .drob-list li a {
  display: inline-block;
  padding: 14px 19px;
  background: #f0f2f7;
  width: 100%;
  font-size: 11px;
  color: #b9bed1;
  text-transform: uppercase;
  letter-spacing: .5px; }

.nav__menu ul .drob-list li a:hover {
  transition: .3s linear;
  box-shadow: 271px 0 0 0 white inset;
  color: #343e5c; }

.nav__menu ul .drob-list li a:not(hover) {
  transition: .3s linear; }

.active-sub-list-item {
  background: #fff; }

.form__filtration-one .form__filtration-radio p, .form__filtration-one .form__filtration-checkbox p {
  display: inline-block;
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #b9bed1; }

.form__filtration-one > p, .form__filtration-one .block__all-one p, .form__filtration-two .block__all-two p, .form__filtration-three > p {
  display: inline-block;
  padding: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #343e5c;
  text-transform: uppercase; }

.form__filtration-one > p {
  width: 100%;
  border-bottom: 1px solid #f2f2f2; }

.form__filtration-one .form__filtration-radio {
  border-bottom: 1px solid #f2f2f2; }

.form__filtration-one .form__filtration-radio label {
  display: inline-block;
  padding: 0 18px 18px 18px; }

.form__filtration-one .form__filtration-radio label:first-child {
  padding-top: 18px; }

.form__filtration-one .form__filtration-radio p {
  padding: 4px 20px 0 0; }

.form__filtration-one .form__filtration-radio label:first-child + p {
  padding-top: 24px; }

.form__filtration-one .block__all-one {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2; }

.form__filtration-one .block__all-one a {
  display: inline-block;
  padding: 19px 20px 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #2754eb;
  text-transform: uppercase;
  text-decoration: underline; }

.form__filtration-one .block__all-one a:hover {
  opacity: .6; }

.form__filtration-one .form__filtration-checkbox label {
  display: inline-block;
  padding: 0 18px 18px 18px; }

.form__filtration-one .form__filtration-checkbox label:first-child {
  padding-top: 18px; }

.form__filtration-one .form__filtration-checkbox p {
  padding: 4px 20px 0 0; }

.form__filtration-one .form__filtration-checkbox label:first-child + p {
  padding-top: 24px; }

.form__filtration-two .block__all-two {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2; }

.form__filtration-two .block__all-two a {
  display: inline-block;
  padding: 19px 20px 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #2754eb;
  text-transform: uppercase;
  text-decoration: underline; }

.form__filtration-two .block__all-two a:hover {
  opacity: .6; }

.form__filtration-two .form__filtration-checkbox label {
  display: inline-block;
  padding: 0 18px 18px 18px; }

.form__filtration-two .form__filtration-checkbox label:first-child {
  padding-top: 18px; }

.form__filtration-three > p {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #f2f2f2; }

.form__filtration-three .form__filtration-radio {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 14px 18px; }

.form__filtration-three .form__filtration-radio label {
  font-size: 12px;
  letter-spacing: .5px;
  text-transform: uppercase;
  display: inline-block; }

.form__filtration-three .form__filtration-radio label:last-child::before {
  content: '';
  position: absolute;
  height: 48px;
  border-left: 1px solid #f2f2f2;
  bottom: 0;
  right: 50%; }

.jq-checkbox, .jq-radio {
  vertical-align: -5px;
  width: 19px;
  height: 19px;
  margin: 0 14px 0 0;
  border: 2px solid #e5e9f1;
  background: #fff;
  box-shadow: none; }

.jq-checkbox.focused, .jq-radio.focused {
  border: 2px solid #e5e9f1; }

.jq-radio.checked .jq-radio__div {
  width: 7px;
  height: 7px;
  margin: 4px 0 0 4px;
  background: #00deea;
  box-shadow: none; }

.jq-checkbox {
  border-radius: 4px; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 3px 0 0 4px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff; }

.jq-checkbox.styler.checked {
  background: #00e2aa;
  border: 2px solid #00e2aa; }

main, .block-top__products, .section__reviews-persons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.product {
  position: relative;
  width: 270px;
  height: 380px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  transition: .3s;
  border-bottom: 1px solid transparent; }

.product:hover {
  border-bottom: 1px solid #2754eb; }

.product a {
  display: block;
  overflow: hidden; }

.product .product__img img {
  transition: all .3s linear; }

.product .product__img img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.product .product__name {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 20px;
  color: #1c1e23;
  font-size: 16px;
  font-weight: 700;
  padding: 26px 0 16px 0;
  transition: all .3s linear; }

.product .product__name:hover {
  color: #2754eb; }

.product .product__color {
  font-family: "Montserrat", sans-serif;
  color: #b9bed1;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  padding-bottom: 9px;
  transition: all .3s linear; }

.product .product__color:hover + .product__block-colors {
  display: block; }

.product .product__price {
  font-family: "Montserrat", sans-serif;
  color: #343e5c;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 38px;
  transition: all .3s linear;
  padding: 5px 10px;
  border-radius: 5px; }

.product .product__price:hover {
  background: #1c1e23;
  color: white; }

.product .product__block-colors {
  display: none;
  background: white;
  padding: 5px 10px;
  font-size: 0;
  position: absolute;
  bottom: 17%;
  transition: all .3s linear;
  z-index: 1; }

.product .product__block-colors:hover {
  display: block; }

.product .product__block-colors a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #b9bed1;
  margin-left: 10px;
  transition: .3s; }

.product .product__block-colors a:first-child {
  margin-left: 0; }

.product .product__block-colors .red {
  background: red; }

.product .product__block-colors .blue {
  background: blue; }

.product .product__block-colors .green {
  background: green; }

.product .product__block-colors a:hover {
  transform: rotate(45deg);
  border-radius: 4px;
  opacity: .7; }

.product-wide {
  position: relative;
  background: white;
  max-width: 570px;
  max-height: 380px;
  margin-bottom: 30px;
  transition: all .4s linear;
  border-bottom: 1px solid transparent; }

.product-wide:hover {
  border-bottom: 1px solid #2754eb; }

.product-wide a {
  display: block;
  overflow: hidden; }

.product-wide .product__img img {
  width: 100%;
  transition: all .3s linear; }

.product-wide .product__img img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.product-wide .product__price {
  position: absolute;
  top: 3.1%;
  left: 2%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  background: #1c1e23;
  transition: all .3s linear; }

.product-wide .product__price:hover {
  background: #fff;
  color: #1c1e23; }

.product-wide .product__description {
  display: flex;
  justify-content: space-between;
  padding: 13px 22px 17px 25px; }

.product-wide .product__description .product__description-name .product__name {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 20px;
  color: #1c1e23;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 7px;
  transition: all .3s linear; }

.product-wide .product__description .product__description-name .product__name:hover {
  color: #2754eb; }

.product-wide .product__description .product__description-name .product__color {
  font-family: "Montserrat", sans-serif;
  color: #b9bed1;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  transition: all .3s linear; }

.product-wide .product__description .product__description-name .product__color:hover + .product__block-colors {
  display: block; }

.product-wide .product__description .product__description-name .product__block-colors {
  display: none;
  background: white;
  padding: 5px 10px;
  font-size: 0;
  position: absolute;
  bottom: 1.5%;
  left: 2.7%;
  transition: all .3s linear;
  z-index: 1; }

.product-wide .product__description .product__description-name .product__block-colors:hover {
  display: block; }

.product-wide .product__description .product__description-name .product__block-colors a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #b9bed1;
  margin-left: 10px;
  transition: .3s; }

.product-wide .product__description .product__description-name .product__block-colors a:first-child {
  margin-left: 0; }

.product-wide .product__description .product__description-name .product__block-colors .red {
  background: red; }

.product-wide .product__description .product__description-name .product__block-colors .blue {
  background: blue; }

.product-wide .product__description .product__description-name .product__block-colors .green {
  background: green; }

.product-wide .product__description .product__description-name .product__block-colors a:hover {
  transform: rotate(45deg);
  border-radius: 4px;
  opacity: .7; }

.product-wide .product__description .product__button {
  padding-top: 3px;
  font-size: 0; }

.product-wide .product__description .product__button a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #3a405b;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .5px;
  transition: all .3s linear; }

.product-wide .product__description .product__button a:first-child {
  padding: 9px 40px 9px 34px;
  border-top: 2px solid #f0f2f7;
  border-bottom: 2px solid #f0f2f7;
  border-left: 2px solid #f0f2f7;
  border-radius: 20px 0 0 20px; }

.product-wide .product__description .product__button a:first-child:hover {
  background: #f0f2f7; }

.product-wide .product__description .product__button a:last-child {
  padding: 9px 28px 9px 26px;
  border: 2px solid #f0f2f7;
  border-radius: 0 20px 20px 0; }

.product-wide .product__description .product__button a:last-child:hover {
  background: #f0f2f7; }

.product-sale {
  display: flex;
  position: relative;
  width: 270px;
  height: 380px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  transition: .3s; }

.product-sale a {
  display: block;
  overflow: hidden;
  position: absolute; }

.product-sale .product__img img {
  transition: all .3s linear; }

.product-sale .product__img img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.product-sale .product__name {
  top: 9%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 20px;
  color: #1c1e23;
  font-size: 16px;
  font-weight: 700;
  transition: all .3s linear; }

.product-sale .product__name:hover {
  color: #2754eb; }

.product-sale .product__price {
  top: 22%;
  font-family: "Montserrat", sans-serif;
  color: #343e5c;
  font-size: 14px;
  font-weight: 700;
  transition: all .3s linear;
  padding: 5px 10px;
  border-radius: 5px; }

.product-sale .product__price:hover {
  background: #1c1e23;
  color: white; }

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  background: white;
  margin-bottom: 50px; }

.pagination-list li a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #343e5c;
  padding: 16px 5px;
  border-radius: 50%;
  transition: all .3s linear; }

.pagination-list li a:hover {
  padding: 16px 20px;
  box-shadow: 0 16px 35px 0 #c5c5c5;
  color: #b9bed1; }

.pagination-list li .active {
  padding: 16px 20px;
  box-shadow: 0 16px 35px 0 #c5c5c5;
  color: #b9bed1; }

.pagination-list .pagination-list__back {
  margin-right: auto; }

.pagination-list .pagination-list__forward {
  margin-left: auto; }

.pagination-list .pagination-list__item {
  padding: 22px 15px; }

.block-top {
  background: white; }

.block-top p {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #343e5c;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 0;
  letter-spacing: .5px;
  border-bottom: 1px solid #f2f2f2; }

.block-top__product {
  position: relative;
  height: 340px;
  width: 285px;
  border-right: 1px solid #f2f2f2;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: .3s;
  margin: 0 auto; }

.block-top__product a {
  display: block;
  overflow: hidden; }

.block-top__product:last-child {
  border-right: none; }

.block-top__product .block-top__product-img img {
  transition: all .3s linear; }

.block-top__product .block-top__product-img img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.block-top__product .block-top__product-name {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 20px;
  color: #1c1e23;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 0 7px 0;
  transition: all .3s linear; }

.block-top__product .block-top__product-name:hover {
  color: #2754eb; }

.block-top__product .block-top__product-color {
  font-family: "Montserrat", sans-serif;
  color: #b9bed1;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .5px;
  padding-bottom: 15px;
  transition: all .3s linear; }

.block-top__product .block-top__product-color:hover + .block-top__product-colors {
  display: block; }

.block-top__product .block-top__product-colors {
  display: none;
  background: white;
  padding: 5px 10px;
  font-size: 0;
  position: absolute;
  bottom: 16.5%;
  transition: all .3s linear;
  z-index: 1; }

.block-top__product .block-top__product-colors:hover {
  display: block; }

.block-top__product .block-top__product-colors a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #b9bed1;
  margin-left: 10px;
  transition: .3s; }

.block-top__product .block-top__product-colors a:first-child {
  margin-left: 0; }

.block-top__product .block-top__product-colors .red {
  background: red; }

.block-top__product .block-top__product-colors .blue {
  background: blue; }

.block-top__product .block-top__product-colors .green {
  background: green; }

.block-top__product .block-top__product-colors a:hover {
  transform: rotate(45deg);
  border-radius: 4px;
  opacity: .7; }

.block-top__product .block-top__product-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px; }

.block-top__product .block-top__product-prices .block-top__product-old_price {
  font-family: "Montserrat", sans-serif;
  color: #b9bed1;
  font-size: 14px;
  font-weight: 700;
  padding-right: 10px;
  text-decoration: line-through; }

.block-top__product .block-top__product-prices .block-top__product-price {
  font-family: "Montserrat", sans-serif;
  color: #343e5c;
  font-size: 14px;
  font-weight: 700;
  transition: all .3s linear;
  padding: 5px 10px;
  border-radius: 5px; }

.block-top__product .block-top__product-prices .block-top__product-price:hover {
  background: #1c1e23;
  color: white; }

.section__reviews > p, .section__reviews-persons .section__reviews-person .section__reviews-name .section__reviews_mame-text span {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  letter-spacing: .5px;
  color: #b9bed1; }

.section__reviews {
  padding: 67px 0 56px 0; }

.section__reviews h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #222328;
  padding-bottom: 12px; }

.section__reviews > p {
  text-align: center;
  line-height: 20px;
  padding-bottom: 50px; }

.section__reviews-persons {
  padding: 0 55px; }

.section__reviews-persons .section__reviews-person {
  margin: 0 auto;
  width: 270px;
  padding-bottom: 30px; }

.section__reviews-persons .section__reviews-person .section__reviews-name {
  display: flex;
  padding-bottom: 13px; }

.section__reviews-persons .section__reviews-person .section__reviews-name a {
  display: block; }

.section__reviews-persons .section__reviews-person .section__reviews-name a img {
  border-radius: 50%;
  transition: all .3s linear; }

.section__reviews-persons .section__reviews-person .section__reviews-name a img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.section__reviews-persons .section__reviews-person .section__reviews-name .section__reviews_mame-text {
  padding-left: 13px; }

.section__reviews-persons .section__reviews-person .section__reviews-name .section__reviews_mame-text a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #343e5c;
  padding: 3px 0 8px 0;
  transition: .3s; }

.section__reviews-persons .section__reviews-person .section__reviews-name .section__reviews_mame-text a:hover {
  color: #b9bed1; }

.section__reviews-persons .section__reviews-person p {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  font-weight: 400;
  color: #343e5c;
  line-height: 24px; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 100%; }

footer .block__footer {
  background: #222328;
  padding: 62px 0; }

footer .block__footer .indent-line {
  padding-bottom: 60px;
  border-bottom: 1px solid #2d2e33; }

footer .block__footer p {
  padding-top: 53px;
  font-family: "Crimson Text", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #58585c;
  line-height: 22px; }

footer .block__footer .footer__block-privacy {
  padding-top: 66px; }

footer .block__footer .footer__block-privacy a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #58585c;
  text-transform: uppercase;
  transition: .3s; }

footer .block__footer .footer__block-privacy a:last-child {
  padding-left: 27px; }

footer .block__footer .footer__block-privacy a:hover {
  color: #b9bed1; }

.footer__logo {
  display: inline-block; }

.footer__menu ul li {
  display: inline-block;
  padding-left: 27px; }

.footer__menu ul li a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  transition: .3s; }

.footer__menu ul li a:hover {
  color: #b9bed1; }

.footer__social a {
  display: inline-block;
  padding-left: 22px;
  transition: .3s;
  color: #fff; }

.footer__social a:first-child {
  padding-left: 0; }

.footer__social a i {
  font-size: 20px; }

.footer__social a:hover {
  color: #b9bed1; }

@media screen and (max-width: 1199px) {
  .header__top .header__menu ul li {
    padding-left: 11px; }
  .filter__block span, .filter__block .form__list, .filter__block .form__list-two {
    padding-bottom: 10px; }
  .form__list-line::after {
    border-right: none; }
  .line-before::before {
    border-left: none; }
  .filter__block p {
    padding-right: 0; }
  .form__filtration-two .form__filtration-checkbox label {
    line-height: 20px; }
  .product,
  .product-wide,
  .product-sale {
    margin: 0 auto;
    margin-bottom: 30px; }
  .block-top__product {
    border-right: none; }
  .section__reviews-persons {
    padding: 0; } }

@media screen and (max-width: 991px) {
  .header__button {
    margin-left: 14px; }
  .header__top-two .header__menu-two ul li {
    padding-bottom: 7px; }
  .header__support {
    padding-right: 0; }
  .nav__menu ul .drob-list li a:hover {
    transition: .3s linear;
    box-shadow: none;
    background: white;
    color: #343e5c; }
  .swiper-container .swiper-wrapper .swiper-slide {
    height: 430px; }
  .form__filtration-two .form__filtration-checkbox label {
    line-height: normal; }
  main {
    margin-bottom: 30px;
    background: white; }
  main .product,
  main .product-wide {
    border-bottom: 1px solid #f2f2f2; }
  .pagination-list {
    padding: 0 4%; }
  .pagination-list .pagination-list__item {
    padding: 22px 10px; }
  .block-top__product:first-child {
    border-bottom: 1px solid #f2f2f2; }
  .block-top__product:nth-child(2) {
    border-bottom: 1px solid #f2f2f2; }
  .footer__menu {
    padding-top: 25px; } }

@media screen and (max-width: 767px) {
  .header__menu {
    display: none; }
  .hamburger-menu {
    display: block; }
  .swiper-container .swiper-wrapper .swiper-slide {
    height: 350px; }
  .swiper-container .swiper-wrapper .swiper-slide h1 {
    top: 7%;
    font-size: 32px;
    line-height: 38px; }
  .swiper-container .swiper-wrapper .swiper-slide p {
    top: 31%;
    width: 42%;
    font-size: 14px;
    line-height: 20px; }
  .form__input-product,
  .form__input-price {
    padding-bottom: 15px; }
  .pagination-list .pagination-list__item {
    padding: 22px 7px; }
  .block-top__product {
    border-bottom: 1px solid #f2f2f2; }
  .block-top__product:last-child {
    border-bottom: none; }
  .section__reviews-persons {
    padding: 0 20px; }
  .section__reviews-persons .section__reviews-person {
    width: 100%; }
  footer .block__footer p {
    padding: 53px 20px 0 20px; }
  footer .block__footer .footer__block-privacy {
    padding-top: 40px; } }

@media screen and (max-width: 575px) {
  .header__logo {
    padding-bottom: 15px; }
  .header__top-two .header__menu-two ul li {
    padding-left: 5px; }
  .swiper-container .swiper-wrapper .swiper-slide h1 {
    top: 5%;
    font-size: 26px;
    line-height: 30px; }
  .swiper-container .swiper-wrapper .swiper-slide p {
    top: 25%;
    width: 42%;
    font-size: 14px;
    line-height: 18px; }
  .filter__block .form__list, .filter__block .form__list-two {
    padding-left: 0; }
  .product-wide .product__description .product__button a:first-child {
    padding: 9px 20px 9px 14px; }
  .product-wide .product__description .product__button a:last-child {
    padding: 9px 8px 9px 6px; }
  .pagination-list .pagination-list__item {
    padding: 22px 3px; }
  .footer__menu li {
    padding-bottom: 10px; } }
